.footer_container {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    margin: 20px 0;
}

.footer_icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.footer_email {
    text-decoration: none;
    color: white;
}